* {
  box-sizing: border-box;
}

html{
  background-color: #DDDDDD;
}

body{
  width:960px;
  margin:15px auto;
  font-family: Arial, "MS Trebuchet", sans-serif;
  background-color: #DDDDFF;
  color: #333311;
}
p{
  margin:0 0 20px 0;
}
p, li{
  line-height:20px;
}

header#page_header, footer#page_footer{ 
  width:100%;
  text-align: center;
  background-color: #AAAACC;
  padding: 10px;
}

footer#page_footer{
  clear: both;
  display: block; 
}  

.main-content {
  float: left;
  padding: 1em;
  width: 70%;
  background-color: #EEEEFF;
}
.page-sidebar {
  float: right;
  width: 30%;
  padding: 1em;
}

header#page_header nav ul, footer#page_footer nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
header#page_header nav ul li, footer#page_footer nav ul li{ 
  padding:0;
  margin: 0 20px 0 0;
  display:inline;
}

section#player_info section{
  margin-left: 20px;
}
section#player_info img {
  max-height: 96px;
}
section#player_info ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
section#player_hand, section#player_books {
  float: left;
}
section#player_hand ul li {
  display: inline;
  margin-left: -40px;  
}
section#player_hand ul li:nth-child(1) {
  margin-left: 0px;  
}
section#player_books ul.book li {
  display: inline;
  margin-left: -64px;  
}
section#player_books ul.book li:nth-child(1) {
  margin-left: 0px;
}
section#your_turn {
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
}

section#game_info section {
}
section#opponent_hands ul{
  list-style: none;
  padding: 0px;
}
section#opponent_hands label{
  font-weight: bold;
}
span.opponent_cards:after { content: " cards"; }
span.opponent_books:after { content: " books"; }
ul.opponent_book_ranks{ display:inline; }
ul.opponent_book_ranks:before { content: "("; }
ul.opponent_book_ranks:after { content: ")"; }
ul.opponent_book_ranks li { 
  display:inline;
}


fieldset{
  width: 216px;
}
fieldset ol{
  list-style: none;
  padding:0;
  margin:2px;
}
fieldset ol li{
  margin:0 0 9px 0;
  padding:0;
}
/* Make inputs go to their own line */
fieldset select input{
  display:block;
}

